@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@200;400;600&display=swap");

:root {
  /* Colores */
  --moradoClaro: #f3cbff;
  --rosaClaro: #fce2e4;
  --azulClaro: #c4e5ec;
  --azul: #0099ff;
  --amarilloClaro: #fbfbd4;
  --verdeClaro: #b4fe95;
  --blanco: #fff;
  --negro: #000;

  /* Fuentes */
  --grandstander: 'Grandstander', cursive;
}



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit; 
}

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--grandstander);
  background-color: var(--blanco);
}

img {
  max-width: 100%;
}

/* Utilities */

.maxWidth {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */

.headerFull {
  background-color: var(--azul);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 200px;
  cursor: pointer;
}

.header__items {
  display: flex;
  gap: 1rem;
}

.navbar {
  position: absolute;
  top: calc(80px);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  background-color: var(--azul);
  max-height: 0;
  overflow: hidden;
  transition-property: max-height;
  transition: 0.5s ease-in-out;
}

.navbar.on {
  padding: 1rem;
  max-height: 1000px;
}

.navbar a {
  text-decoration: none;
  color: var(--blanco);
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--negro);
}

.bxs-cart,
.bx-menu {
  cursor: pointer;
}

.bxs-cart:hover,
.bx-menu:hover {
  color: #000;
}

@media (min-width: 768px) {
  .navbar {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    transition: none;
    max-height: none;
    align-items: center;
  }

  .bx-menu {
    display: none;
  }
}

.header__items i {
  font-size: 2rem;
  color: var(--blanco);
}

/* Inicio */

.inicio {
  background-color: var(--blanco);
  margin-top: 80px;
}

.inicio h2 {
  text-align: center;
}

.inicio__imagen--container {
  position: relative;
}

.inicio__imagen {
  clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 30%);
}

.inicio__profesion {
  position: relative;
  background-color: var(--azulClaro);
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 2rem;
  text-align: center;
  font-weight: bold;
}

.inicio__profesion p:last-of-type {
  font-weight: normal;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .inicio__profesion {
    font-size: 2rem;
  }

  .inicio__profesion p:last-of-type {
    font-size: 1.8rem;
  }
}

.inicio__vermas {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.inicio__vermas > div:hover {
  cursor: pointer;
  color: #da6cac;
}

.inicio__vermas p {
  margin: 0;
}

.inicio__vermas i {
  font-size: 1.6rem;
  transform: translateY(0);
  animation: flotar 2s linear infinite forwards;
}

@media (min-width: 768px) {
  .inicio__vermas i {
    font-size: 2rem;
  }
}

@keyframes flotar {
  0% {
    transform: translateY(3px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-3px);
  }

  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(3px);
  }
}

.inicio__imagen--container h1{
  position: absolute;
  margin-top: 0.5rem;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -100%);
  padding: 0.2rem;
  border-radius: 10px;
  background-color: var(--rosaClaro);
  font-size: 2rem;
  color: #000;
}

@media (min-width: 768px) {
  .inicio__imagen--container h1 {
    font-size: 4rem;
  }
}

.inicio__textoPrincipal {
  line-height: 1.3rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;
}

.inicio__imagenMateriales {
  display: block;
  max-width: min(500px, calc(100% - 1rem));
  padding: 1rem 2rem;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.inicio__imagenMateriales:hover {
  transform: scale(1.05, 1.05);
}

.inicio__imagenMateriales img {
  box-shadow: 0;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
}

.inicio__imagenMateriales:hover img {
  box-shadow: 1px 1px 15px var(--azul);
}

.inicio__imagenMateriales img {
  border-radius: 10px;
  max-width: 100%;
  display: block;
}

/* Servicios */

.servicios {
  background-color: var(--azulClaro);
  padding: calc(80px + 3rem) 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 260px);
}

.servicios__container {
  max-width: 700px;
  position: relative;
  padding: 1rem;
  text-align: center;
  background-color: var(--blanco);
}

.servicios__container h2 {
  position: absolute;
  margin-top: 0.5rem;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -100%);
  padding: 0.2rem 2rem;
  border-radius: 10px;
  background-color: var(--rosaClaro);
  font-size: 2rem;
  color: #000;
}

.servicios__container p {
  font-size: 1.4rem;
}

.points {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.point {
  width: 15px;
  aspect-ratio: 1;
  background-color: var(--azulClaro);
  border-radius: 50%;
}

.servicios__disposicion {
  margin-top: 1rem;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  gap: 2rem;
}

.servicio {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: transform 0.6s ease;
  cursor: pointer;
}

.servicio:hover {
  transform: scale(1.05, 1.05);
}

.servicio:hover i {
  transform: scale(1.2, 1.2);
}

.servicio i {
  font-size: 2.5rem;
  transition: transform 0.6s ease;
}

.servicio p {
  margin-top: 0.2rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  border-radius: 4px;
}

.servicios .servicio:nth-child(odd) p {
  background-color: var(--rosaClaro);
}

.servicios .servicio:nth-child(even) p {
  background-color: var(--azulClaro);
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: var(--azul);
  padding: 2rem 0;
  color: var(--blanco);
}

footer img {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.redesSociales {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: var(--blanco);
  font-size: 2rem;
}

.redesSociales a {
  color: var(--blanco);
  text-decoration: none;
}

.redesSociales a:hover {
  color: var(--negro);
}

/* Seccion escuela */

.entrada {
  padding: 0 1rem;
}

.cabezera {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: bold;
}

.cabezera h1 {
  font-size: 1.6rem;
  margin: 0;
}

.entrada__container {
  padding: calc(80px + 1rem) 0 80px 0;
  max-width: 700px;
  margin: 0 auto;
}

.principal {
  position: relative;
}

.principal p {
  white-space: pre-line;
  line-height: 1.3;
  text-align: justify;
}

.principal img {
  border-radius: 4px;
  max-width: min(400px, 100%);
  float: left;
  margin: 1rem;
  margin-top: 0;
  margin-left: 0;
}

.imagenEscuela img {
  max-width: min(370px, 100%);
}

.imagenNeurorehabilitacion img {
  max-width: min(160px, 100%);
}

@media (max-width: 608px) {
    .principal {
      text-align: center;
    }

    .principal p {
      text-align: justify;
    }

    .principal img {
      max-width: 100%;
      float: none;
    }
}

/* Materiales */

.materiales {
  padding: 5rem 1rem 1rem 1rem;
}

.materiales__container {
  max-width: 700px;
  margin: 0 auto;
}

.materiales__container h1 {
  text-align: center;
}

.materiales__filtros {
  text-align: center;
  margin-bottom: 2rem;
}

.materiales__filtros p {
  margin-bottom: 0.5rem;
}

.materiales__filtros select {
  font-family: var(--grandstander);
  width: min(400px, calc(100% - 2rem));
  padding: 0.4rem 0.5rem;
  resize: none;
  outline: none;
  border: 2px solid #00c6ab;
  border-radius: 4px;
  background-color: #00c6ab;
  color: white;
}

.materiales__filtros select:focus {
  outline: none;
  border: 2px solid #00c6ab;
  box-shadow: 1px 1px 8px #00c6ab;
}

.materiales__products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 580px) {
  .materiales__products {
    grid-template-columns: 1fr;
  }
}

/* Materiales - Productos Card */

.productos__entrada {
  width: calc(250px);
  padding: 10px;
  box-shadow: 0px 1px 12px var(--azul);
  border-radius: 10px;
  font-size: 0.9rem;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.productos__entrada:hover {
  transform: scale(1.05, 1.05);
}

.productos__entrada:hover > h4, 
.productos__entrada:hover > p {
  display: block;
} 

.productos__entrada > h4,
.productos__entrada > p {
  margin: 0;
  margin: 0.2rem 0;
  border-radius: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  transition: display 0.6 ease-in-out;
}

.productos__entrada > p:last-of-type {
  font-weight: bold;
  font-size: 1.2rem;
}

.productos__entrada h4:hover {
  background-color: var(--moradoClaro);
}

.productos__entrada > p:first-of-type:hover {
  background-color: var(--azulClaro);
}

.productos__entrada > p:last-of-type:hover {
  background-color: var(--verdeClaro);
}

.productos__entrada 

.productos__entrada img {
  max-width: 100%;
}

.productos__entrada-edad {
  position: absolute;
  top: 1px;
  color: white;
  width: 52px;
  overflow: hidden;
  aspect-ratio: 1;
  right: 1px;
  background-color: var(--azul);
  border-radius: 47% 53% 59% 41% / 30% 72% 28% 70% ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productos__entrada-tipo {
  position: absolute;
  top: 1px;
  color: white;
  width: 52px;
  overflow: hidden;
  font-size: 0.8rem;
  aspect-ratio: 1;
  left: 1px;
  background-color: #FC4F4F;
  border-radius: 47% 53% 59% 41% / 30% 72% 28% 70% ;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Banner green */

.bannerGreen {
  width: 100%;
  background-image: url("/bannerGreen.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  padding-bottom: 2rem;
  text-align: center;
}

.bannerGreen p,
.bannerGreen i {
  margin: 0;
  font-size: 1.2rem;
}

.bannerGreen i {
  animation: flotar 2s linear infinite forwards;
}

.bannerGreen h2 {
  font-size: 1.2rem;
  margin: 0;
}

@media (min-width: 768px) {
    .bannerGreen h2 {
      font-size: 2rem;
    }

    .bannerGreen p,
    .bannerGreen i {
      font-size: 2rem;
    }
}

/* Contacto seccion */

.contacto {
  min-height: calc(100vh - 200px);
}

.contacto__container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
    .contacto__container {
      font-size: 1rem;
    }
}

.contacto__container > i {
  font-size: 5rem;
  transition: transform 0.3s ease-in-out;
  color: rgb(26, 194, 26);
  cursor: pointer;
}

.contacto__container > i:hover {
  transform: scale(1.1, 1.1);
}

.contacto__form label {
  display: block;
  margin-bottom: 1.5rem;
}

.contacto__form label:last-of-type {
  margin-bottom: 1rem;
}

.contacto__form button {
  border: none;
  background-color: rgb(51, 214, 51);
  color: white;
  padding: 0.6rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
}

.contacto__form button:hover {
  background-color: rgb(46, 192, 46);
  transform: scale(1.05, 1.05);
}

.contacto__form button i {
  position: relative;
  top: 2px;
  margin-left: 0.3rem;
  font-size: 1.3rem;
}

.contacto__form label input,
.contacto__form textarea {
  font-family: var(--grandstander);
  width: min(400px, calc(100% - 2rem));
  padding: 0.4rem 0.5rem;
  resize: none;
  outline: none;
  border: 2px solid var(--azul);
  border-radius: 4px;
  background-color: var(--azul);
  color: white;
}

.contacto__form label input::placeholder,
.contacto__form textarea::placeholder {
  color: white;
}

.contacto__form label input:focus,
.contacto__form textarea:focus {
  outline: none;
  border: 2px solid var(--azul);
  box-shadow: 1px 1px 8px var(--azul);
}

/* Button contacto */

.button__contacto-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__Contacto {
  border-radius: 5px;
  border: none;
  background-color: var(--azul);
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.button__Contacto:hover {
  transform: scale(1.05, 1.05);
  background-color: #0779c5;

}