@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@200;400;600&display=swap");

:root {
  /* Colores */
  --moradoClaro: #f3cbff;
  --rosaClaro: #fce2e4;
  --azulClaro: #c4e5ec;
  --azul: #38b9ff;
  --amarilloClaro: #fbfbd4;
  --verdeClaro: #b4fe95;
  --blanco: #fff;
  --negro: #000;

  /* Fuentes */
  --grandstander: 'Grandstander', cursive;
}



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit; 
}

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--grandstander);
  background-color: var(--azulClaro);
}

img {
  max-width: 100%;
}

/* Utilities */

.maxWidth {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */

.headerFull {
  background-color: var(--azul);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 160px;  
}

.header__items {
  display: flex;
  gap: 1rem;
}

.navbar {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 1;
  background-color: var(--azul);
  max-height: 0;
  overflow: hidden;
  transition-property: max-height;
  transition: 0.6s ease-in-out;
}

.navbar.on {
  max-height: 1000px;
}

.navbar a {
  text-decoration: none;
  color: var(--blanco);
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--negro);
}

@media (min-width: 768px) {
  .navbar {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .bx-menu {
    display: none;
  }
}

.header__items i {
  font-size: 2rem;
  color: var(--blanco);
}

/* Inicio */

.inicio {
  background-color: var(--amarilloClaro);
  padding-bottom: 2rem;
  margin-top: 80px;
}

.inicio__imagen--container {
  position: relative;
}

.inicio__imagen {
  clip-path: polygon(100% 0, 100% 70%, 0 100%, 0 30%);
}

.inicio__profesion {
  position: relative;
  background-color: var(--azulClaro);
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 2rem;
  text-align: center;
  font-weight: bold;
}

.inicio__profesion p:last-of-type {
  font-weight: normal;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .inicio__profesion {
    font-size: 2rem;
  }

  .inicio__profesion p:last-of-type {
    font-size: 1.8rem;
  }
}

.inicio__imagen--container h1{
  position: absolute;
  margin-top: 0.5rem;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -100%);
  padding: 0.2rem;
  border-radius: 10px;
  background-color: var(--rosaClaro);
  font-size: 2rem;
  color: #000;
}

@media (min-width: 768px) {
  .inicio__imagen--container h1 {
    font-size: 4rem;
  }
}

.inicio__textoPrincipal {
  line-height: 1.3rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Servicios */

.servicios {
  background-color: var(--azulClaro);
  padding: 3rem 1rem 2rem 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicios__container {
  position: relative;
  padding: 1rem;
  text-align: center;
  background-color: var(--blanco);
}

.servicios__container h2 {
  position: absolute;
  margin-top: 0.5rem;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -100%);
  padding: 0.2rem 2rem;
  border-radius: 10px;
  background-color: var(--rosaClaro);
  font-size: 2rem;
  color: #000;
}

.points {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.point {
  width: 15px;
  aspect-ratio: 1;
  background-color: var(--azulClaro);
  border-radius: 50%;
}

.servicios__container .servicio:first-of-type {
  margin-top: 2rem;
}

.servicio {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.servicio i {
  font-size: 1.8rem;
}

.servicio p {
  margin-top: 0.2rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
}

.servicios .servicio:nth-child(odd) p {
  background-color: var(--rosaClaro);
}

.servicios .servicio:nth-child(even) p {
  background-color: var(--azulClaro);
}